@media (max-width: 1024px) {
.head{width:98%; padding:2% 1% 0;}
.logo{padding:1% 0 0;}
.menu{padding:1% 0 0;}
.menu ul li{padding:0 1.5%;}
.banner{width:98%; padding:0 1%;}
#amazingslider-1{width: 100% !important; height:390px !important;}
.amazingslider-space-0{height:390px !important;}
#content{width:98%; padding:2% 1% 0;}
.product-slide{width:98%; padding:3% 1%;}
.footer{width:98%; padding:2% 1%;}
.white-space{width:98%; padding:0 1%;}
.amazingslider-space-0{width:100% !important;}
/*.amazingslider-text-wrapper-0{bottom:80px !important;}*/
.amazingslider-title-0{font-size:26px !important; padding:1% 7% !important;}
.smalldsk{display:block;}
.dskmenu{display:none;}
}

@media (max-width: 980px) {
.menu{padding:2% 0 0;}
.menu ul li{padding:0 1.65%;}
.menu ul li a{font-size:12px;}
#amazingslider-1{width: 100% !important; height:370px !important;}
.amazingslider-space-0{height:370px !important;}
	
}

@media (max-width: 800px) {
.menu ul li{padding:0 0.77%}
#amazingslider-1{width: 100% !important; height:300px !important;}
.amazingslider-space-0{height:300px !important;}
.who h1{font-size:32px;}
.who p{font-size:14px;}
.item{width:98%;}
.product-detail-img a{font-size:11px;}
.footer ul li{padding:0 1.65%;}
.footer p{float:none; display:block; text-align:center; clear:both; padding:1% 0 0;}
	
}

@media (max-width: 768px) {
.logo-left{width:25%;}
.logo-right{width:75%;}
.menu ul li{padding:0 1%;}
.menu ul li a{font-size:11px;}
.search{width:30%;}
#amazingslider-1{width: 100% !important; height:290px !important;}
.amazingslider-space-0{height:290px !important;}
.footer ul li{padding:0 1.5%;}
.thumb{width:24%; margin:0 1.2% 0 0;}
.product-detail{width:100%;}
.enquiry{width:100%; float:left;}
.enquiry h2{float:left; padding:2% 0 4.5% 6%; text-align:left;}
.product-detail-text table th{width:42%; padding:1% 0;}
.product-detail-text table td{width:58%; padding:1% 0;}
.enquiry-form{padding:2% 6%;}
.enquiry-form input{height:35px; margin:0 0 2%;}
.enquiry-form textarea{margin:0 0 2%;}
.submit{padding:2% 6%;}
.submit input{height:35px;}


	
}

@media (max-width: 720px) {
.product-detail-text{width:66%; margin:0 1%;}
.enquiry{margin:2% 0 0;}	
}

@media (max-width: 640px) {
.menu{display:none;}
.minu{display:block;}
.slicknav_menu{display:block !important;}
.home{display:none;}
.slicknav_menu{padding-right:0 !important;}
.slicknav_btn{float:right; padding-right:0 !important;}
.slicknav_nav a{padding: 2px 10px !important;}
.slicknav_nav a{margin:0 !important;}
.owl-next{right:-92% !important;}
#amazingslider-1{width: 100% !important; height:240px !important;}
.amazingslider-space-0{height:240px !important;}
.product-slide{padding:4% 1% 5%;}
.who{width:100%;}
.videoz{width:96%; margin:4% 0 0;}
.videoz p{width:60%; margin:0 auto; float:none;}
.footer ul li{padding:0 0.85%;}
.footer ul li a{font-size:12px;}
.search{width:45%;}
	
}

@media (max-width: 568px) {
#amazingslider-1{width: 100% !important; height:212px !important;}
.amazingslider-space-0{height:212px !important;}
.footer ul li{padding:0 0.8%;}
.footer ul li a{font-size:11px;}
.product-slide{padding:4% 1% 7%;}
.product-detail-img a{display:block; text-align:center;}

	
}

@media (max-width: 480px) {
.logo-left{width:30%;}
.logo-right{width:70%;}
#amazingslider-1{width: 100% !important; height:178px !important;}
.amazingslider-space-0{height:178px !important;}
.ourproduct-lft h2{padding:50% 0; font-size:20px;}
.ourproduct-lft{width:45%;}
.ourproduct-rgt{width:55%;}
.owl-prev{right:-88% !important;}
.owl-next{right:-90% !important;}
.product-slide{padding:4% 1% 8%;}
.footer ul li{clear:both;}
.footer ul li a{font-size:14px;}
.product-detail-img{width:100%;}
.product-detail-img img{width:45%; height:auto; float:left;}
.product-detail-img a{float:left; margin:22% 0 0 3%;}
.product-detail-text{width:100%; margin:0; padding:4% 0;}
.thumb-img strong{font-size:20px;}
	
}

@media (max-width: 420px) {
.top{width:72%; float:none; margin:0 auto;}
.top ul li{padding:0 2%;}
.logo-left{float:none; margin:0 auto; width:40%; display:table;}
.logo-right{clear:both; float:right;}
.search{width:65%; margin:4% 0 0 0;}
.slicknav_menu{padding:14px 0 5px !important;}
.slicknav_btn{padding-left:0 !important; float:left;}
#amazingslider-1{width: 100% !important; height:155px !important;}
.amazingslider-space-0{height:155px !important;}
.amazingslider-title-0{font-size:20px !important;}
.product-detail-img a{padding:0 7%;}
.product-detail-text table td{width:38%;}
.product-detail-text table td{width:60%;}
.mobybar{margin:0 0 2% 1% !important;}
.ybar{margin:0 0 2% 1% !important;}
.thumb{width:49%; margin:0 1% 2% 0;}
.contact-left{width:100%;}
.contact-left strong{font-size:18px;}
.contact-right{width:96%; margin:5% 0;}

	
}

@media (max-width: 380px) {
.top{width:88%;}
.top ul li{padding:0 3%;}
.logo-left{width:45%;}
.product-slide{padding:4% 1% 10%;}
.product-detail-img a{padding:0 5%;}
	
}

@media (max-width: 320px) {
.top{width:96%;}
#amazingslider-1{width: 100% !important; height:124px !important;}
.amazingslider-space-0{height:124px !important;}
.amazingslider-title-0{font-size:16px !important;}
.product-detail-img a{font-size:10px;}
.contact-left strong{font-size:15px;}
	
}

